.desktop-header-primary {
  background-color: #10cece;

  /*border-left: 2px solid black;*/

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--desktop-header-primary-height);
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
