.desktop-main-top {
  top: 0px; /* calc(var(--desktop-header-primary-height) + var(--desktop-header-secondary-height)); */
  bottom: var(--desktop-main-bottom-height);
  left: calc(var(--desktop-aside-primary-width) + var(--desktop-aside-secondary-width));
  right: 0px;

  background-color: lightpink;
  /* position: fixed; */
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  scroll-behavior: smooth;
  overflow-y: scroll;
}
