/* Global constants for lines and colors */

:root {
  --desktop-aside-primary-width: 500px;
  --desktop-aside-secondary-width: 0px;

  --desktop-header-primary-height: 0px;
  --desktop-header-secondary-height: 0px;

  --desktop-main-bottom-height: 0px;
}
